<h1>Follow Users</h1>
<table>
		<thead>
			<tr>
				<th class="image">image</th>
				<th class="names">name</th>
			</tr>
		</thead>
	<tbody>
		<div class="body">
			<div class="row">
				<div class="col-md-12">
					<tr class="follow-table">
						<% @user.following_user.where.not(id: current_user.id).each do |user| %>	
							<td><%= attachment_image_tag user, :profile_image, format: 'jpeg', size: "40x40", class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %></td>
							<td><%= user.name %></td>
							<td><%= "フォロー数: #{user.followed.count}" %></td>
							<td><%= "フォロワー数: #{user.follower.count}" %></td>
							<td><%= link_to "show", user_path(user) %></td>
					</tr>
						<% end %>	
				</div>
			</div>
		</div>				
	</tbody>
</table>