<% comments.each do |book_comment| %>     
	<tr> 						       
		<td> 							   
			<%= link_to user_path(book_comment.user), class: "user_#{book_comment.user.id}" do %> 
				<%= attachment_image_tag book_comment.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50" %>
				<br>        
				<%= book_comment.user.name %>            
			<% end %>           
		</td>
		<td>
			<%= book_comment.comment %>
		</td>            
		<td>
			<% if current_user == book_comment.user %>  
				<%= link_to 'Destroy', book_post_comment_path(book_comment.book, book_comment), data: {"turbolinks" => false, confirm: "本当に削除してよろしいですか？"}, class: 'btn-sm btn-danger', method: :delete, remote: true %>
			<% end %> 
		</td>      
	</tr>  
<% end %>     