<body>
	<header>
		<title>Bookers</title>
	</header>
	
	 <div class="body">
	<!--プロフィール画面-->
		<div class="container">
			<div class="row">
				<div class="profiles col-xs-3">
			  	<h2 class="profile-name">User info</h2>
				  	<!--画像表示部分-->  
				  <p class="picture"><%= attachment_image_tag @book.user, :profile_image, format: 'jpeg', size: "100x100", class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %></p>  
					  <div class="name">
							<p>name</p>
							<p><%= @book.user.name %></p>
					  </div>	
					  <div class="introduction">
							<p>Introduction</p>	
							<p><%= @book.user.introduction %></p>
					  </div>		
			  <!--プロフィール編集画面リンク-->
						<% if @book.user.id == current_user.id %>
								<%= link_to edit_user_path(@book.user) do %>
									<i class="col-xs-12 btn btn-default glyphicon glyphicon-wrench"></i>
								<% end %>
							<% else %>
								<%= link_to user_path(current_user) do %>
									<i class="col-xs-12 btn btn-default glyphicon glyphicon-wrench"></i>
								<% end %>	
						<% end %>		
							<!--ここまで-->
							<!--投稿画面-->
					
							<h2>New book</h2>
							<!-- form_for部分 -->
							<%= form_for(@book_new) do |f| %>
								<div class="field">
									<h4>Title</h4>
							<%= f.text_field :title %>
								</div>
								<div class="field">
									<h4>Opinion</h4>
							<%= f.text_area :body %>
								</div>
							<br class="create"><%= f.submit 'Create Book' %></br>
							<% end %>
						</div>
					<!--本一覧画面-->
					<div class="Books col-xs-9">
						<h2 class="Users">Book detail</h2>
						<table>
							<thead></thead>
							<tbody class="line">

								<tr> 																	
									<td class="content"><%= link_to user_path(@book.user) do %>
										<%= attachment_image_tag @user, :profile_image, format: 'jpeg', size: "40x40", class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
										<%= link_to @book.user.name, user_path(@book.user) %>
										<% end %>
									</td>	
									<td class="content"><%= @book.title %></td>
									<td class="content"><%= @book.body %></td>
									<td>
										<% if @book.user == current_user %>
											<td class="btn-sm btn-success"><%= link_to "Edit", edit_book_path(@book) %></td>
											<td class="btn-sm btn-danger"><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？" %></td>									
										<% end %>	
									</td>
									<td><%= @book_comments.count %>件のコメント</td>
								</tr>
							</tbody>   
						</table>
						<!--コメント表示部分-->
						<table class="post_comments" id="comment_area">    
						<!--非同期コメント表示部分-->
							<%= render 'post_comments/post_comments', comments: @book_comments %>
					  </table>
						<!--コメント送信部分-->
						<div class="row">
							<div class="col-xs-10">
								<%= form_with(model: [@book, @post_comment], remote: true) do |f| %>
									<div class="row">
											<div class="col-xs-12">
											  <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
											</div>							  
								  </div>					
							<div class="col-xs-2">		
										<%= f.submit "送信する" %>		
							</div>			
								<% end %>								
						</div>		
					</div>
<!--本一覧画面ここまで-->
			</div>
		</div>
	</div>	
</body>



