<section class="slice slice-lg sct-color-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <div class="form-user style-1 rounded has-shadow-1">
                    <div class="form-header text-center">
                        <h2 class="form-header-title">Log in</h2>
                    </div>
                    
                    <div class="form-body col-md-4">
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="form-group has-icon">
                      <p><strong>Name</strong></p>
                      <label class="control-label sr-only" for="inputname">Name</label>
                      <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputName" %>
                     
                    </div>
                    <div class="form-group has-icon">
                      <p><strong>Password</strong></p>
                      <label class="control-label sr-only" for="inputPassword">Password</label>
                      <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword" %>
                     
                    </div>
                    <%= f.submit "Log in", class: "btn btn-primary" %><br>
                    <%= link_to 'Sign up', new_user_registration_path %>
                  <% end %> 

                     </div>
                      </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>