<!DOCTYPE html>
<html>
  <head>
    <title>Book</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header class="navbar navbar-inverse">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <br><span>Bookers</span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
           <% if user_signed_in? %> 
            <li><a class="glyphicon glyphicon-home home" href= <%="/users/#{current_user.id}" %> >Home</a></li>
            <li><a class="glyphicon glyphicon-link about" href="/users">Users</a></li>
            <li><a class="glyphicon glyphicon-edit sign_up" href="/books">Books</a></li>
            <li><%= link_to ' logout', destroy_user_session_path, method: :delete, class: 'glyphicon glyphicon-log-out logout' %> </li>
       <% else %>
            <li><a class="glyphicon glyphicon-home home" href="/"> Home</a></li>
            <li><a class="glyphicon glyphicon-link about" href="/home/about">About</a></li>
            <li><a class="glyphicon glyphicon-edit sign_up" href="/users/sign_up">sign up</a></li>
            <li><a class="glyphicon glyphicon-log-in sign_in" href="/users/sign_in"> login</a></li>
        <% end %>
          </ul>
        </nav>
      </div>
    </header>   

    <!--検索機能-->
    <% if user_signed_in? %> 
    <div class="Books col-xs-9">
      <div class="col-xs-9 col-xs-offset-5">
        <%= form_tag(searchs_index_path, method: :get) do %>
          <%= select(@search_content, :model_method, [["User", "User"],["Book", "Book"]])%>
          <%= select(@search_content, :search_method, [["前方一致","forward_match"], ["後方一致","backward_match"], ["完全一致","perfect_match"], ["部分一致","partial_match"]])%>
          <%= text_field_tag :search %>
          <%= submit_tag 'Search', name: nil %>
        <% end %>
      </div>
    </div>
    <% end %>



    <!--サクセスメッセージ-->
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <!--ここまで-->
    <%= yield %>
   <footer>
     <div class="container">
      <div class="row">
        <div class="col-xs-3 col-xs-offset-9">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>  
   </footer>   
  </body>
</html>
